{% comment %} Globals {% endcomment %}
{% comment %} {% include 'globals' %} {% endcomment %}

<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  {% include 'meta' %}
  {% include 'social-meta-tags' %}
  {% include 'favicon' %}
  {% include 'google-site-verification' %}
  
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>

<body>

  <main role="main">
    {% section 'page-password' %}
    {{ content_for_layout }}
  </main>

</body>
</html>
